<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation</title>
    <!--  -->
    <link rel="stylesheet" href="./navigation.css" />
</head>

<body>
    <span class="navigation-4-ifame-span">Cuộn xuống để xem thêm<main></main></span>
    <nav class="navigation-4-ifame-1">
        <h1 class="navigation-4-ifame-1-h1">Games</h1>
        <a class="navigation-4-ifame-1-a" href="/" target="_parent">Minecraft</a>
    </nav>
</body>

</html>